{{- $isWsl := and (eq .chezmoi.os "linux") (contains "WSL" .chezmoi.kernel.osrelease) -}}

[core]
  autocrlf = input
  symlinks = true
[fetch]
  prune = true
[pull]
  ff = only
[push]
  autoSetupRemote = true

[credential]
{{- if eq .chezmoi.os "windows" }}
  helper = manager-core
{{- else if eq .chezmoi.os "darwin" }}
  helper = osxkeychain
{{- else if $isWsl }}
  helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager-core.exe
{{- else }}
  helper = store
{{- end }}

[color]
  ui = true

[commit]
  verbose = true

[include]
  path = include/delta.conf
  path = include/identity.conf
  path = include/local.conf
  path = include/vscode.conf
