{{- $isWsl := and (eq .chezmoi.os "linux") (contains "WSL" .chezmoi.kernel.osrelease) -}}

[core]
  autocrlf = input
  symlinks = true
[init]
  defaultBranch = main
[commit]
  verbose = true
[fetch]
  prune = true
[pull]
  ff = only
[push]
  autoSetupRemote = true

[credential]
{{- if eq .chezmoi.os "windows" }}
  helper = manager
{{- else if eq .chezmoi.os "darwin" }}
  helper = osxkeychain
{{- else if $isWsl }}
  helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
{{- else }}
  helper = store
{{- end }}

# VSCodeのDev Container使用時はGitのinclude.pathが効かないため、
# Dev Containerの中でも適用したい設定はChezmoiでincludeする
{{ include (joinPath .chezmoi.sourceFile "../include/alias.conf") }}
{{ include (joinPath .chezmoi.sourceFile "../include/identity.conf") }}

[include]
  path = include/delta.conf
  path = include/difftastic.conf
  path = include/local.conf
  path = include/vscode.conf
