{{- $isWsl := and (eq .chezmoi.os "linux") (contains "WSL" .chezmoi.kernel.osrelease) -}}

format = "${custom.wsl}$all"

{{- if $isWsl }}

[container]
# Workaround for https://github.com/starship/starship/issues/3821
disabled = true
{{- end }}

{{- if $isWsl }}

[git_status]
windows_starship = "/mnt/c/Users/prince/scoop/shims/starship.exe"
{{- end }}

[custom.wsl]
command = "echo 'WSL '"
style = "bold yellow"
{{ if $isWsl -}}
when = true
{{- else -}}
when = false
{{- end }}
